# Python
__pycache__/
*.py[cod]
*$py.class
.env

# Virtual environments
.venv/
venv/
ENV/
env/

# Pipenv
Pipfile.lock

# Editor and IDE settings
.vscode/
.idea/
*.suo
*.user
*.userosscache
*.sln.docstates

# MacOS
.DS_Store

# Logs
*.log

# Database files
*.sqlite3

# pytest cache
.pytest_cache/

# Build artifacts
build/
dist/
*.egg-info/

# Local settings
local_settings.py

# Coverage
.coverage
htmlcov/
 coverage.xml

# Byte-compiled
*.pyc
