[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
sqlalchemy = "*"
pymysql = "*"
python-dotenv = "*"
loguru = "*"
tqdm = "*"
alembic = "*"
openpyxl = "*"
pytest = "*"

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.10"
